.body {
    position: relative;
    width: auto;
    height: 100%;
}

.content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    padding-top: 25px;
    margin-bottom: 15px;
    font-size: 60px;
}

#container {
    width: 560px;
    height: 592px;
    border: 3px solid black;
}

button {
    width: 75px;
    margin-bottom: 10px;
}